.searchBar{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px 18px;

    border-radius:14px;

    border:1px solid #293241;

    background:#161b22;

    margin-bottom:30px;

}

.searchBar input{

    flex:1;

    background:none;

    border:none;

    color:white;

    outline:none;

    font-size:15px;

}